.flex-container {
 display : -webkit-flex;
 display : -ms-flexbox;
 display : flex;
 padding:20px;
 width:100%;
 }
.justify-space-between {
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
 }
