.flex-container {
 display : -webkit-flex;
 display : -ms-flexbox;
 display : flex;
 padding:5px;
 width:90vw;
 }

.justify-space-between {
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
 }

.artist-list {
  width: 20%;
}
